<% include header.html %>	
<div class="container-fluid">
	<form class="form-horizontal" method="post">
		<fieldset>
			<legend>用户登陆</legend>
			<div class="control-group">
				<label class="control-label" for="usernamel">user name </label>
				<div class="controls">
					<input type="text" class="input-xlarge" id="username" name="username"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label">password</label>
				<div class="controls">
					<input type="password" class="input-xlarge" id="password" name="password"/>
				</div>
			</div>
			<div class="form-actions">
				<button type="submit" class="btn btn-primary" >login</button>
			</div>
		</fieldset>
	</form>
</div>
